/* Reset some default styles */
body, h1, h2, h3, h4, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #006400;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}

header h1 {
    font-size: 50px;
    margin-bottom: 5px;
}
.latest-coupon {
    background-color: #019726;
    font-size: 30px;
    padding: 20px ;
    text-align: center;
}
nav ul {
    list-style: none;
    text-align: right;
    margin-top: 20px;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    background-image: url('image.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.hero h2 {
    font-size: 40px;
    margin-bottom: 10px;

}

.overlay {
    background-color: rgba(0, 158, 96, 0.9);
    padding: 20px;
    border-radius: 5px;
}

.cta-button {
    display: inline-block;
    background-color: #009e28;
    color: #fff;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 20px;
}

.coupon-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; 
    padding: 40px;
}

.coupon-card {
    background-color: #fff;
    border: 1px solid #009E60;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    max-width: 100%;
}

.coupon-card img {
    max-width: 100%;
    border-radius: 5px;
    object-position: left center;
    margin-right: 20px;
    width: 100px; 
    height: auto; 
}

.coupon-card h3 {
    font-size: 24px;
    margin-top: 10px;
}

.coupon-card p {
    margin-top: 10px;
    color: #333;
    text-align: right;
}

.coupon-button {
    display: block;
    background-color: #009E60;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 10px;
}
.cashback-section {
    background-color: #009E60;
    color: #fff;
    text-align: center;
    padding: 80px 0;
}

.about-section,
.contact-section {
    padding: 40px;
    background-color: #fff;
    border-radius: 5px;
}

.contact-section {
    margin-top: 40px;
}

.cta-button {
    display: inline-block;
    background-color: #6de305;
    color: #fff;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 20px;
}

footer {
    background-color: #006400;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
